@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

body {
    font-family: 'inter', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 32px;
    font-weight: 800;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

#bottom-wrapper {
    margin: 5rem 0 7rem 0;
}

p {
    width: 45vw;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

span {
    font-weight: 600;
    font-size: 24px;
    color: #0984e3;
    border-bottom: 1px solid #0984e3;
}